section.kurumins-menu {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 5vh;
}

section.kurumins-menu a {
    color: var(--sec);
    text-decoration: none;
}

section.kurumins-menu a:hover {
    text-decoration: underline;
}

section.kurumins-menu li {
    color: var(--sec);
}

section.kurumins-menu .sub-menu {
    margin-left: 1rem;
}

section.kurumins {
    width: 70%;
    margin: 0 auto;
}

section.kurumins .descoberta {
    margin-bottom: 4rem;
}

section.kurumins img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    margin: 1.5rem auto;
}

section.kurumins .benchmarking,
section.kurumins .desafios {
    margin-top: -1.5rem;
}

section.kurumins .benchmarking .bench-ong {
    margin-bottom: 4rem;
}

section.kurumins .benchmarking .bench-ong li {
    margin-bottom: 2rem;
}

section.kurumins h4 {
    color: var(--sec);
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

section.kurumins h5 {
    color: var(--sec);
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

section.kurumins p {
    color: var(--sec);
    margin-bottom: 1rem;
}

section.kurumins li {
    color: var(--sec);
    margin-left: 3rem;
    margin-bottom: 1rem;
}

section.kurumins blockquote {
    background-color: lightgray;
    padding: 1rem 2rem;
    border-radius: 5px;
    margin-bottom: 1.5rem;
}

section.kurumins strong {
    font-weight: 600;
}