@import url(main.css);
@import url(title.css);

/* <--- RESPONSIVE TITLE ---> */
@media screen and (max-width: 768px) {
    section.title {
        width: 60vw;
        margin-bottom: 10vh;
    }
    section.title h1 {
        font-size: 2.8rem;
    }
    
    section.title h2 {
        font-size: 1rem;
    }
}
@media screen and (max-width: 576px) {
    section.title {
        width: 80vw;
    }
}

/* <--- CARDS ---> */
section.portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    margin: 0 auto;
}

section.portfolio .card {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition-duration: 0.25s;
    
}

section.portfolio .card .card-img img {
    width: 100%;
    border-radius: 5px 5px 0 0;
    transition-duration: 0.4s;
}

section.portfolio .card .card-img img:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

section.portfolio .card .card-txt {
    line-height: 2.5;
    padding: 2px 16px;
}

section.portfolio .card .card-txt a {
    text-decoration: none;
}

section.portfolio .card .card-txt h3 {
    font-size: 1rem;
    font-weight: 700;
}

section.portfolio .card .card-txt p {
    font-size: 1rem;
}

/* <--- RESPONSIVE CARDS ---> */
@media screen and (max-width: 1200px) {
    section.portfolio {
        gap: 50px;
    }
}
@media screen and (max-width: 768px) {
    section.portfolio {
        grid-template-columns: 1fr;
    }
}