@import url(main.css);

/* <--- BANNER ---> */
section.banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 15vh;
}

section.banner .banner-txt {
    width: 35vw;
}

section.banner .banner-txt h1 {
    color: var(--sec);
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
}

section.banner .banner-txt h2 {
    color: var(--cinza);
    font-size: 1.9rem;
    font-weight: 300;
}

section.banner .banner-txt h2 strong {
    font-weight: 500;
}

section.banner .banner-txt h2 strong:nth-of-type(1) {
    color: var(--cor1);
}

section.banner .banner-txt h2 strong:nth-of-type(2) {
    color: var(--cor2);
}

section.banner .banner-txt .button {
    margin-top: 3rem;
}
section.banner .banner-txt .button button {
    background-color: var(--dom);
    color: var(--cor1);
    border: 2px solid var(--cor1);
    font-weight: 800;
    padding: 8px 25px 8px 25px;
    border-radius: 10px;
    -webkit-transition-duration: .3s;
         -o-transition-duration: .3s;
            transition-duration: .3s;
}

section.banner .banner-txt .button button:hover {
    background-color: var(--cor1);
    color: var(--dom);
    cursor: pointer;
}

section.banner .banner-img img {
    width: 30vw;
    border-radius: 5px;
    /* -webkit-box-shadow: var(--dom) -10px -10px 0px -3px, var(--cor2) -10px -10px, var(--dom) -20px -20px 0px -3px, #9e9ee8 -20px -20px, var(--dom) -30px -30px 0px -3px, #f9629e -30px -30px, var(--dom) -40px -40px 0px -3px, var(--cor1) -40px -40px;
            box-shadow: var(--dom) -10px -10px 0px -3px, var(--cor2) -10px -10px, var(--dom) -20px -20px 0px -3px, #9e9ee8 -20px -20px, var(--dom) -30px -30px 0px -3px, #f9629e -30px -30px, var(--dom) -40px -40px 0px -3px, var(--cor1) -40px -40px; */
    -webkit-box-shadow: var(--dom) -10px -10px 0px -3px, var(--cor1) -10px -10px, var(--dom) -20px -20px 0px -3px, var(--cor2) -20px -20px;
    box-shadow: var(--dom) -10px -10px 0px -3px, var(--cor1) -10px -10px, var(--dom) -20px -20px 0px -3px, var(--cor2) -20px -20px;
}

/* <--- RESPONSIVE BANNER ---> */
@media screen and (min-width: 1440px) {
    section.banner .banner-txt {
        width: 25vw;
    }
    section.banner .banner-txt h1 {
        font-size: 3.5rem;
    }
    section.banner .banner-txt h2 {
        font-size: 2rem;
    }
    section.banner .banner-img img {
        width: 25vw;
    }
}

@media screen and (max-width: 1200px) {
    section.banner .banner-txt {
        width: 40vw;
    }
}

@media screen and (max-width: 992px) {
    section.banner .banner-txt {
        width: 45vw;
    }
    section.banner .banner-txt h1 {
        font-size: 3.1rem;
    }
    section.banner .banner-txt h2 {
        font-size: 1.8rem;
    }
    section.banner .banner-img img {
        width: 35vw;
    }
}

@media screen and (max-width: 768px) {
    section.banner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-bottom: 10vh;
    }
    section.banner .banner-txt {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 70vw;
    }
    section.banner .banner-txt h1 {
        font-size: 2.7rem;
    }
    section.banner .banner-txt h2 {
        font-size: 1.3rem;
        text-align: center;
    }
    section.banner .banner-txt .button {
        margin-bottom: 5rem;
    }
    section.banner .banner-img img {
        width: 60vw;
        /* -webkit-box-shadow: var(--dom) -10px -10px 0px -3px, var(--cor1) -10px -10px, var(--dom) -20px -20px 0px -3px, var(--cor2) -20px -20px;
                box-shadow: var(--dom) -10px -10px 0px -3px, var(--cor1) -10px -10px, var(--dom) -20px -20px 0px -3px, var(--cor2) -20px -20px; */
    }
}

@media screen and (max-width: 576px) {
    section.banner .banner-txt {
        width: 90vw;
    }
    section.banner .banner-txt h1 {
        font-size: 2.4rem;
    }
    section.banner .banner-txt h2 {
        font-size: 1.1rem;
    }
    section.banner .banner-img img {
        width: 60vw;
        /* -webkit-box-shadow: var(--dom) -10px -10px 0px -3px, var(--cor1) -10px -10px;
                box-shadow: var(--dom) -10px -10px 0px -3px, var(--cor1) -10px -10px; */
    }
}

/* @media only screen and (max-height: 412px) and (max-width: 992px) and (orientation: landscape) {
    section.banner .banner-img img {
        -webkit-box-shadow: var(--dom) -10px -10px 0px -3px, var(--cor1) -10px -10px, var(--dom) -20px -20px 0px -3px, var(--cor2) -20px -20px;
                box-shadow: var(--dom) -10px -10px 0px -3px, var(--cor1) -10px -10px, var(--dom) -20px -20px 0px -3px, var(--cor2) -20px -20px;
    }
} */

/* <--- PORTFOLIO ---> */
section.portfolio {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2% 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
}

section.portfolio a {
    text-decoration: none;
}

section.portfolio .card {
    width: 100%;
    border-radius: 5px;
    -webkit-transition-duration: 0.15s;
         -o-transition-duration: 0.15s;
            transition-duration: 0.15s;
    box-shadow:
    0px 2px 2px 0px hsla(0,0%,0%,0.14),
    0px 3px 1px -2px hsla(0,0%,0%,0.12),
    0px 1px 5px 0px hsla(0,0%,0%,0.2);
}
section.portfolio .card:hover {
    box-shadow:
    0px 6px 10px 0px hsla(0,0%,0%,0.14),
    0px 1px 18px 0px hsla(0,0%,0%,0.12),
    0px 3px 5px -1px hsla(0,0%,0%,0.2);
}

section.portfolio .ux {
    background-color: hsla(0, 100%, 100%, 0.07);
    /* background-image: url(../assets/ux/ux.png); */
}

section.portfolio .frontend {
    background-color: hsla(0, 100%, 100%, 0.07);
    /* background-image: url(../assets/frontend/frontend.png); */
}

section.portfolio .txt {
    padding: 5%;
}

section.portfolio .txt h1 {
    color: var(--sec);
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

section.portfolio .txt p {
    color: var(--sec);
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

section.portfolio .txt p.veja-mais {
    margin-bottom: 0;
}

section.portfolio .txt p strong {
    color: var(--sec);
    text-decoration: underline;
    -webkit-text-decoration-color: var(--cor1);
            text-decoration-color: var(--cor1);
    text-decoration-thickness: 0.2rem;
    padding: 0 2px;
}

section.portfolio .txt p strong:hover {
    color: var(--dom);
    background-color: var(--cor1);
}

/* <--- RESPONSIVE PORTFOLIO ---> */
@media screen and (max-width: 768px) {
    section.portfolio {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        gap: 30px;
    }
}