/* <--- MENU ---> */
section.case_nav {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 5vh;
}

@media screen and (max-width: 768px) {
    section.case_nav {
        width: 100%;
    }
}

section.case_nav a {
    color: var(--cinza);
    text-decoration: none;
}

section.case_nav a:hover {
    color: var(--cor1);
    text-decoration: underline;
}

section.case_nav strong {
    font-weight: 600;
}

section.case_nav li {
    color: var(--cinza);
    margin-left: .9rem;
}

section.case_nav .sub-menu {
    margin-left: .9rem;
}

/* <--- DESCOBERTA ---> */
section.case {
    width: 70%;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    section.case {
        width: 100%;
    }
}

section.case h4 {
    color: var(--sec);
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

section.case h5 {
    color: var(--sec);
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

section.case p {
    color: var(--sec);
    line-height: 1.5;
    text-align: left;
    margin-bottom: 1rem;
}

section.case li {
    color: var(--sec);
    line-height: 1.5;
    text-align: left;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

section.case blockquote {
    background-color: #FAF9F6;
    text-align: left;
    line-height: 1.5;
    padding: 1rem 2rem;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    -webkit-box-shadow:
		0px 1px 1px 0px hsla(0,0%,0%,0.14), 
		0px 2px 1px -1px hsla(0,0%,0%,0.12), 
		0px 1px 3px 0px hsla(0,0%,0%,0.2);
            box-shadow:
		0px 1px 1px 0px hsla(0,0%,0%,0.14), 
		0px 2px 1px -1px hsla(0,0%,0%,0.12), 
		0px 1px 3px 0px hsla(0,0%,0%,0.2);
}

section.case strong {
    font-weight: 600;
}

section.case img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    -webkit-box-shadow:
		0px 1px 1px 0px hsla(0,0%,0%,0.14), 
		0px 2px 1px -1px hsla(0,0%,0%,0.12), 
		0px 1px 3px 0px hsla(0,0%,0%,0.2);
            box-shadow:
		0px 1px 1px 0px hsla(0,0%,0%,0.14), 
		0px 2px 1px -1px hsla(0,0%,0%,0.12), 
		0px 1px 3px 0px hsla(0,0%,0%,0.2);
}

section.case img.img-hover {
    margin: 0 auto;
    -webkit-transition-duration: 0.25s;
         -o-transition-duration: 0.25s;
            transition-duration: 0.25s;
}

section.case img.img-hover:hover {
    -webkit-transform: scale(1.015);
        -ms-transform: scale(1.015);
            transform: scale(1.015);
}

section.case a.img-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1.5rem auto;
}

section.case a.img-link-last {
    margin-bottom: 0;
}

section.case .case_block {
    margin-bottom: 4rem;
}

section.case .case_sub_block {
    margin-top: 4rem;
}

section.case .case_sub_block li {
    margin-bottom: 2rem;
}

img#img-grid {
    width: 50%;
    height: 50%;
}

#interacao iframe {
    width: 100%;
    border-radius: 5px;
}