@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
    --dom: #fdfefe;
    --sec:  #212121;
    --cinza: #808080;
    --cor1: #FF5555;
    --cor2: #7eb0e1;
    --cor1-rgb: rgba(255, 87, 87, 0.20);
    --cor2-rgb: rgba(126, 176, 225, 0.20);
    --cinza-rgb: 128, 128, 128;
}

[data-theme="dark"] {
    --dom: #212121;
    --sec: #fdfefe;
    --cinza: #D3D3D3;
    --cor1: #ff5555;
    --cor2: #7eb0e1;
    --cor1-rgb: rgba(255, 87, 87, 0.80);
    --cor2-rgb: rgba(126, 176, 225, 0.80);
    --cinza-rgb: 211, 211, 211;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    background-color: var(--dom);
}

p > a {
    color: var(--sec);
    -webkit-text-decoration-color: var(--cor1);
            text-decoration-color: var(--cor1);
    text-decoration-thickness: 0.2rem;
    padding: 0 2px;
}

p > a:hover,
p > a:focus,
p > a:active {
    color: var(--dom);
    background-color: var(--cor1);
}

/* <--- RESPONSIVE TOGGLE DARK MODE ---> */
.theme-switch-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: -15vh;
    margin-bottom: 15vh;
}

.theme-switch {
    display: inline-block;
    position: relative;
    height: 17px;
    width: 30px;
}

.theme-switch input {
    display:none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 2px;
    content: "";
    height: 13px;
    left: 2px;
    position: absolute;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    width: 13px;
}

input:checked + .slider {
    background-color: var(--cor1);
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
        -ms-transform: translateX(13px);
            transform: translateX(13px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* <--- RESPONSIVE TOGGLE DARK MODE ---> */
@media screen and (max-width: 768px) {
    .theme-switch-wrapper {
        margin-top: -5vh;
        margin-bottom: 5vh;
    }
}
@media screen and (max-width: 576px) {
    .theme-switch-wrapper {
        margin-top: -3vh;
        margin-bottom: 3vh;
    }
}

/* <--- HEADER ---> */
header nav.navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 15vh;
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 15vh;
}

/* <--- RESPONSIVE HEADER ---> */
@media screen and (min-width: 1440px) {
    header nav.navbar {
        width: 70vw;
    }
}

@media screen and (min-width: 1600px) {
    header nav.navbar {
        width: 60vw;
    }
}

@media screen and (max-width: 1200px) {
    header nav.navbar {
        width: 90vw;
    }
}

@media screen and (max-width: 768px) {
    header nav.navbar {
        height: 10vh;
        margin-bottom: 5vh;
    }
}

@media screen and (max-width: 576px) {
    header nav.navbar {
        margin-bottom: 3vh;
    }
}

@media only screen and (max-height: 412px) and (max-width: 768px) and (orientation: landscape) {
    header nav.navbar {
        height: 20vh;
    }
}

/* <--- HEADER LOGO ---> */
header nav.navbar a.nav-logo {
    color: var(--sec);
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1rem;
    margin-left: -1rem;
    text-decoration: none;
}

header nav.navbar a.nav-logo span {
    color: var(--cor1);
}

/* <--- RESPONSIVE HEADER LOGO ---> */
@media screen and (max-width: 768px) {
    header nav.navbar a.nav-logo {
        font-size: 1.5rem;
    }
}

/* <--- HEADER MENU ---> */
header nav.navbar ul.nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: -1rem;
}

header nav.navbar ul.nav-menu li.nav-item {
    list-style: none;
}

header nav.navbar ul.nav-menu li.nav-item a.nav-link {
    color: var(--sec);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: .8rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem;
    -webkit-transition-duration: .3s;
         -o-transition-duration: .3s;
            transition-duration: .3s;
}

header nav.navbar ul.nav-menu li.nav-item a.nav-link strong {
    color: var(--cor1);
}

header nav.navbar ul.nav-menu li.nav-item a.nav-link:hover,
header nav.navbar ul.nav-menu li.nav-item a.nav-link:focus,
header nav.navbar ul.nav-menu li.nav-item a.nav-link:active {
    color: var(--cor1);
}

header nav.navbar ul.nav-menu li.nav-item a.nav-link:not([href]) {
    cursor: default;
}

/* <--- RESPONSIVE HEADER MENU ---> */
@media screen and (max-width: 768px) {
    header nav.navbar ul.nav-menu {
        background-color: var(--dom);
        position: fixed;
        top: -100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
        -webkit-box-shadow:
        0px 6px 2px -4px hsla(0,0%,0%,0.14),
        0px 7px 1px -6px hsla(0,0%,0%,0.12),
        0px 5px 5px -4px hsla(0,0%,0%,0.2);
                box-shadow:
        0px 6px 2px -4px hsla(0,0%,0%,0.14),
        0px 7px 1px -6px hsla(0,0%,0%,0.12),
        0px 5px 5px -4px hsla(0,0%,0%,0.2);
    }

    header nav.navbar ul.nav-menu.active {
        left: 0;
        top: 10vh;
    }

    header nav.navbar ul.nav-menu li.nav-item a.nav-link {
        font-size: 1.5rem;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

@media only screen and (max-height: 412px) and (max-width: 768px) and (orientation: landscape) {
    header nav.navbar ul.nav-menu li.nav-item {
        margin: 1rem 0;
    }
}

/* <--- HAMBURGER ICON ---> */
header nav.navbar .hamburger {
    display: none;
}

header nav.navbar .hamburger span.bar {
    background-color: var(--sec);
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* <--- RESPONSIVE HAMBURGER ICON ---> */
@media screen and (max-width: 768px) {
    header nav.navbar .hamburger {
        display: block;
        cursor: pointer;
    }

    header nav.navbar .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    header nav.navbar .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
            -ms-transform: translateY(8px) rotate(45deg);
                transform: translateY(8px) rotate(45deg);
    }

    header nav.navbar .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
            -ms-transform: translateY(-8px) rotate(-45deg);
                transform: translateY(-8px) rotate(-45deg);
    }
}

/* <--- MAIN ---> */
main {
    width: 80vw;
    margin: 0 auto;
}

/* <--- RESPONSIVE MAIN ---> */
@media screen and (min-width: 1440px) {
    main {
        width: 70vw;
    }
}

@media screen and (min-width: 1600px) {
    main {
        width: 60vw;
    }
}

@media screen and (max-width: 1200px) {
    main {
        width: 90vw;
    }
}

/* <--- FOOTER ---> */
section.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    width: 80vw;
    margin: 0 auto;
    margin-top: 15vh;
    padding-top: 5vh;
    border-top: 1px solid rgba(var(--cinza-rgb), 0.2);
}

/* <--- RESPONSIVE FOOTER ---> */
@media screen and (min-width: 1440px) {
    section.footer {
        width: 70vw;
    }
}

@media screen and (min-width: 1600px) {
    section.footer {
        width: 60vw;
    }
}

@media screen and (max-width: 1200px) {
    section.footer {
        width: 90vw;
    }
}

@media screen and (max-width: 768px) {
    section.footer {
        margin-top: 10vh;
    }
}

/* <--- FOOTER TITLE ---> */
section.footer .title {
    margin-bottom: 1rem;
}

section.footer .title h1 {
    color: var(--sec);
    font-size: 1.2rem;
    font-weight: 700;
}

/* <--- FOOTER EMAIL ---> */
section.footer .email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: .5rem;
}

section.footer .email a {
    font-size: 0.9rem;
    color: var(--cor1);
    text-decoration: none;
    padding: .5rem;
}

/* <--- FOOTER SOCIAL ICONS ---> */
section.footer .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: .5rem;
}

section.footer .social a {
    color: var(--sec);
    padding: 1rem;
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
}

section.footer .social a:hover,
section.footer .social a:focus,
section.footer .social a:active {
    color: var(--cor1);
}

section.footer .social svg {
    width: 30px;
    height: 30px;
    fill: currentColor;
}

/* <--- FOOTER COPYRIGHT ---> */
section.footer .copyright p {
    color: var(--sec);
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 0.5rem;
}