@import url(styles.css);

header nav.navbar {
    margin-bottom: 5vh;
}

main img {
    width: 70vw;
    margin: auto;
    margin-bottom: 5vh;
}

main h1 {
    font-size: 2rem;
    margin: auto;
    margin-bottom: 3vh;
}

main p {
    width: 60vw;
    margin: auto;
    margin-bottom: 5vh;
}

main div.button {
    margin: auto;
}

main div.button button {
    background-color: white;
    color: #FF5555;
    border: 2px solid #FF5555;
    font-weight: 800;
    padding: 8px 25px 8px 25px;
}

main div.button button:hover {
    background-color: #FF5555;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {}
@media screen and (max-width: 992px) {
    main img {
        width: 70vw;
    }
    main p {
        width: 70vw;
    }
}
@media screen and (max-width: 768px) {
    main img {
        width: 80vw;
    }
    main p {
        width: 80vw;
    }
}
@media screen and (max-width: 576px) {
    main img {
        width: 90vw;
    }
    main p {
        width: 90vw;
    }
}