@import url(main.css);

header nav.navbar {
    margin-bottom: 5vh;
}

section.sobre {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

section.sobre img {
    width: 70vw;
    margin: auto;
    margin-bottom: 5vh;
}

section.sobre h1 {
    font-size: 2rem;
    margin: auto;
    margin-bottom: 3vh;
}

section.sobre p {
    text-indent: 20px;
    text-align: justify;
    width: 60vw;
    margin: auto;
    margin-bottom: 5vh;
}

section.sobre .button {
    margin: auto;
}

section.sobre .button button {
    background-color: white;
    color: #FF5555;
    border: 2px solid #FF5555;
    font-weight: 800;
    padding: 8px 25px 8px 25px;
    border-radius: 5px;
    -webkit-transition-duration: .3s;
         -o-transition-duration: .3s;
            transition-duration: .3s;
}

section.sobre .button button:hover {
    background-color: #FF5555;
    color: #ffffffee;
    cursor: pointer;
}

@media screen and (min-width: 1366px) {
    section.sobre img {
        width: 55vw;
    }
    section.sobre p {
        width: 45vw;
    }
}
@media screen and (max-width: 1200px) {}
@media screen and (max-width: 992px) {
    section.sobre img {
        width: 70vw;
    }
    section.sobre p {
        width: 70vw;
    }
}
@media screen and (max-width: 768px) {
    section.sobre img {
        width: 80vw;
    }
    section.sobre p {
        width: 80vw;
    }
}
@media screen and (max-width: 576px) {
    section.sobre img {
        width: 90vw;
    }
    section.sobre p {
        width: 90vw;
    }
}

section.footer {
    margin-top: 10vh;
}