@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    font-family: 'Open Sans', Helvetica, sans-serif;
}

/* .dark-mode {
    background-color: black;
    color: white;
  } */

/* <--- HEADER ---> */
header nav.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    width: 80vw;
    margin: auto;
    margin-bottom: 15vh;
}

header nav.navbar a.nav-logo {
    color: #401515;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
}

header nav.navbar a.nav-logo span {
    color: #FF5555;
}

header nav.navbar ul.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav.navbar ul.nav-menu li.nav-item {
    margin-left: 2rem;
    list-style: none;
}

header nav.navbar ul.nav-menu li.nav-item a.nav-link {
    color: #401515;
    font-size: .8rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}

header nav.navbar ul.nav-menu li.nav-item a.nav-link strong {
    color: #FF5555;
}

header nav.navbar ul.nav-menu li.nav-item a.nav-link:hover {
    color: #FF5555;
}

header nav.navbar div.hamburger {
    display: none;
}

header nav.navbar div.hamburger span.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

/* <--- RESPONSIVE HEADER ---> */
@media screen and (max-width: 1200px) {
    header nav.navbar {
        width: 90vw;
    }
}
@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {
    header nav.navbar ul.nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    header nav.navbar ul.nav-menu.active {
        left: 0;
    }

    header nav.navbar ul.nav-menu li.nav-item {
        margin: 2.5rem 0;
    }

    header nav.navbar div.hamburger {
        display: block;
        cursor: pointer;
    }

    header nav.navbar div.hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    header nav.navbar div.hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    header nav.navbar div.hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media screen and (max-width: 576px) {}


/* <--- MAIN ---> */
main {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: auto;
    justify-content: center;
}
@media screen and (max-width: 1200px) {
    main {

        width: 90vw;
    }
}
@media screen and (max-width: 992px) {}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 576px) {}

/* <--- MAIN - BANNER ---> */
main section.banner {
    display: flex;
    width: 80vw;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15vw;
}

main section.banner div.texto {
    width: 30vw;
}

main section.banner div.texto h1 {
    color: black;
    font-size: 3.5rem;
    font-weight: 800;
}

main section.banner div.texto h2 {
    color: #BF3F3F;
    font-size: 1.9rem;
    font-weight: 600;
}

main section.banner div.texto div.button {
    margin-top: 8%
}
main section.banner div.texto div.button button {
    background-color: white;
    color: #FF5555;
    border: 2px solid #FF5555;
    font-weight: 800;
    padding: 8px 25px 8px 25px;
}

main section.banner div.texto div.button button:hover {
    background-color: #FF5555;
    color: white;
    cursor: pointer;
}

main section.banner div.imagem img {
    width: 30vw;
}

/* <--- RESPONSIVE MAIN - BANNER ---> */
@media screen and (max-width: 1200px) {
    main section.banner {
        width: 90vw;
    }
    main section.banner div.texto {
        width: 40vw;
    }
}
@media screen and (max-width: 992px) {
    main section.banner div.texto h1 {
        font-size: 3.1rem;
    }
    main section.banner div.texto h2 {
        font-size: 1.8rem;
    }
}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 576px) {}

/* <--- MAIN - PORTFOLIO ---> */
main section.portfolio {
    display: flex;
    justify-content: space-evenly;
}

main section.portfolio a {
    text-decoration: none;
}

main section.portfolio a div.ux {
    background-color: #FF555530;
    width: 530px;
    height: 68vh;
}

main section.portfolio a div.front-end {
    background-color: #17B34330;
    width: 530px;
    height: 68vh;
}

main section.portfolio a div.ux div.texto, main section.portfolio a div.front-end div.texto {
    padding: 5%;
}

main section.portfolio a div.ux div.texto h1, main section.portfolio a div.front-end div.texto h1 {
    color: black;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 2%;
}

main section.portfolio a div.ux div.texto p, main section.portfolio a div.front-end div.texto p {
    color: black;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 4%;
}

/* <--- RESPONSIVE MAIN - PORTFOLIO ---> */
@media screen and (max-width: 1200px) {}
@media screen and (max-width: 992px) {}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 576px) {}

/* <--- FOOTER ---> */
footer {
    display: flex;
    flex-direction: column;
    height: 20vh;
    align-items: center;
    margin-top: 15vh;
    padding-top: 5vh;
    border-top: 1px solid rgba(128, 128, 128, 0.200);
}

footer div.meus-contatos {
    margin-bottom: 5px;
}

footer div.meus-contatos p {
    font-size: 1.2rem;
    font-weight: 700;
}

footer div.email {
    margin-bottom: 10px;
}

footer div.email a {
    font-size: 0.9rem;
    color: #FF5555;
    text-decoration: none;
}

footer div.social {

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 50px;
    margin-bottom: 55px;
}

footer div.social img {
    width: 30px;
}

footer div.copyright p {
    font-size: 0.8rem;
}

/* <--- RESPONSIVE FOOTER ---> */
@media screen and (max-width: 1200px) {}
@media screen and (max-width: 992px) {}
@media screen and (max-width: 768px) {
    footer {
        width: 90vw;
        margin: auto;
    }
    footer div.copyright p {
        text-align: center;
    }
}
@media screen and (max-width: 576px) {}