/* <--- TITLE ---> */
section.title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    width: 40vw;
    margin-bottom: 15vh;
}

section.title h1 {
    color: var(--sec);
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

section.title h2 {
    color: var(--sec);
    font-size: 1rem;
    text-align: center;
}

/* <--- RESPONSIVE TITLE ---> */
@media screen and (max-width: 768px) {
    section.title {
        width: 60vw;
        margin-bottom: 10vh;
    }
    section.title h1 {
        font-size: 2.8rem;
    }
    
    section.title h2 {
        font-size: 1rem;
    }
}
@media screen and (max-width: 576px) {
    section.title {
        width: 80vw;
    }
}