@import url(styles.css);

main div.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 40vw;
    margin-bottom: 15vh;
}

main div.title h1 {
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

main div.title h2 {
    font-size: 1rem;
    text-align: center;
}

/* <--- RESPONSIVE TITLE ---> */
@media screen and (max-width: 768px) {
    main div.title {
        width: 60vw;
        margin-bottom: 10vh;
    }
    main div.title h1 {
        font-size: 2.8rem;
    }
    
    main div.title h2 {
        font-size: 1rem;
    }
}
@media screen and (max-width: 576px) {
    main div.title {
        width: 80vw;
    }
}

/* <--- UX CARDS --->  */
main div.ux-cards {
    display: flex;
    flex-direction: column;
}

main div.ux-cards div.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: auto;
    margin-bottom: 10vh;
}

main div.ux-cards div.card2 {
    margin-bottom: 15vh;
}

main div.ux-cards div.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

main div.ux-cards a {
    text-decoration: none;
    color: black;
}

main div.ux-cards div.card-img img {
    width: 1085px;
}

main div.ux-cards div.card-txt {
    line-height: 2.5;
    padding: 2px 16px;
}

main div.ux-cards div.card-txt h3 {
    font-weight: 700;
}

/* <--- RESPONSIVE UX CARDS --->  */
@media screen and (min-width: 1600px) {}
@media screen and (max-width: 1360px) {
    main div.ux-cards div.card-img img {
        width: 955px;
    }
}
@media screen and (max-width: 1200px) {
    main div.ux-cards div.card-img img {
        width: 885px;
    }
}
@media screen and (max-width: 992px) {
    main div.ux-cards div.card-img img {
        width: 685px;
    }
}
@media screen and (max-width: 768px) {
    main div.ux-cards div.card-img img {
        width: 515px;
    }
}
@media screen and (max-width: 576px) {
    main div.ux-cards div.card-img img {
        width: 320px;
    }
    main div.ux-cards div.card-txt h3 {
        font-size: 1rem;
    }
    main div.ux-cards div.card-txt p {
        font-size: .7rem;
    }
    main div.ux-cards div.card {
        margin-bottom: 3vh;
    }
    main div.ux-cards div.card2 {
        margin-bottom: 8vh;
    }
}

/* <--- UI CARDS --->  */
main div.ui-cards {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

main div.ui-cards div.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 50px;
}

main div.ui-cards div.card1 {
    margin-right: 100px;
}

main div.ui-cards div.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

main div.ui-cards div.card-img img {
    width: 490px;
}

main div.ui-cards div.card-txt {
    line-height: 2.5;
    padding: 2px 16px;
}

main div.card-txt h3 {
    font-weight: 700;
}

/* <--- RESPONSIVE UI CARDS --->  */
@media screen and (min-width: 1600px) {}
@media screen and (max-width: 1360px) {
    main div.ui-cards div.card-img img {
        width: 400px;
    }
}
@media screen and (max-width: 1200px) {
    main div.ui-cards {
        flex-direction: column;
        align-items: center;
    }
    main div.ui-cards div.card {
        margin-bottom: 5vh;
    }
    main div.ui-cards div.card1 {
        margin-right: 0;
    }
    main div.ui-cards div.card-img img {
        width: 450px;
    }
}
@media screen and (max-width: 992px) {}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 576px) {
    main div.ui-cards div.card {
        margin-bottom: 3vh;
    }
    main div.ui-cards div.card-img img {
        width: 320px;
    }
    main div.ui-cards div.card-txt h3 {
        font-size: 1rem;
    }
    main div.ui-cards div.card-txt p {
        font-size: .7rem;
    }
}