@import url(main.css);

section.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 40vw;
    margin-bottom: 15vh;
}

section.title h1 {
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

section.title h2 {
    font-size: 1rem;
    text-align: center;
}

/* <--- RESPONSIVE TITLE ---> */
@media screen and (max-width: 768px) {
    section.title {
        width: 60vw;
        margin-bottom: 10vh;
    }
    section.title h1 {
        font-size: 2.8rem;
    }
    
    section.title h2 {
        font-size: 1rem;
    }
}
@media screen and (max-width: 576px) {
    section.title {
        width: 80vw;
    }
}

/* <--- UX CARDS --->  */
section.ux-cards {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10vh;
    margin: 0 auto;
    margin-bottom: 15vh;
}

section.ux-cards .card {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition-duration: 0.25s;
}

section.ux-cards .card:hover {
    transform: scale(1.015);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

section.ux-cards .card .card-img a {
    text-decoration: none;
    color: black;
}

section.ux-cards .card .card-img img {
    width: 100%;
    transition-duration: 0.25s;
}

section.ux-cards .card .card-img img:hover {
    transform: scale(1.015);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

section.ux-cards .card .card-txt {
    line-height: 2.5;
    padding: 2px 16px;
}

section.ux-cards .card .card-txt h3 {
    font-weight: 700;
}

/* <--- UI CARDS --->  */
section.ui-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8vw;
    margin: 0 auto;
}

section.ui-cards .card {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition-duration: 0.25s;
}

section.ui-cards .card:hover {
    transform: scale(1.015);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

section.ui-cards .card .card-img img {
    width: 100%;
    transition-duration: 0.25s;
}

section.ui-cards .card .card-img img:hover {
    transform: scale(1.015);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

section.ui-cards .card .card-txt {
    line-height: 2.5;
    padding: 2px 16px;
}

section.ui-cards .card .card-txt h3 {
    font-weight: 700;
}

/* <--- RESPONSIVE UI CARDS --->  */
@media screen and (max-width: 1200px) {
    section.ui-cards {
        column-gap: 4vw;
    }
}
@media screen and (max-width: 768px) {
        section.ui-cards {
        grid-template-columns: 1fr;
        row-gap: 10vh;
    }
}