@import url(main.css);
@import url(title.css);

/* <--- UX CARDS --->  */
section.ux-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 10vh;
    margin: 0 auto;
    margin-bottom: 15vh;
}

section.ux-cards .card {
    background-color: hsla(0, 100%, 100%, 0.07);
    width: 100%;
    border-radius: 5px;
    -webkit-box-shadow:
    0px 2px 2px 0px hsla(0,0%,0%,0.14), 
    0px 3px 1px -2px hsla(0,0%,0%,0.12), 
    0px 1px 5px 0px hsla(0,0%,0%,0.2);
            box-shadow:
    0px 2px 2px 0px hsla(0,0%,0%,0.14), 
    0px 3px 1px -2px hsla(0,0%,0%,0.12), 
    0px 1px 5px 0px hsla(0,0%,0%,0.2);
}

section.ux-cards .card .card-img a {
    text-decoration: none;
    color: var(--sec);
}

section.ux-cards .card .card-img img {
    width: 100%;
    border-radius: 5px 5px 0 0;
    -webkit-transition-duration: 0.25s;
         -o-transition-duration: 0.25s;
            transition-duration: 0.25s;
}

section.ux-cards .card .card-img img:hover {
    -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
            transform: translateY(-5px);
}

section.ux-cards .card .card-txt {
    line-height: 2.5;
    padding: 2px 16px;
}

section.ux-cards .card .card-txt h3 {
    color: var(--sec);
    font-weight: 700;
}

section.ux-cards .card .card-txt p {
    color: var(--sec);
}

/* <--- UI CARDS --->  */
section.ui-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 8vw 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 8vw;
       -moz-column-gap: 8vw;
            column-gap: 8vw;
    margin: 0 auto;
}

section.ui-cards .card {
    background-color: hsla(0, 100%, 100%, 0.07);
    width: 100%;
    border-radius: 5px;
    -webkit-box-shadow:
    0px 2px 2px 0px hsla(0,0%,0%,0.14), 
    0px 3px 1px -2px hsla(0,0%,0%,0.12), 
    0px 1px 5px 0px hsla(0,0%,0%,0.2);
            box-shadow:
    0px 2px 2px 0px hsla(0,0%,0%,0.14), 
    0px 3px 1px -2px hsla(0,0%,0%,0.12), 
    0px 1px 5px 0px hsla(0,0%,0%,0.2);
}

section.ui-cards .card .card-img img {
    width: 100%;
    border-radius: 5px 5px 0 0;
    -webkit-transition-duration: 0.4s;
         -o-transition-duration: 0.4s;
            transition-duration: 0.4s;
}

section.ui-cards .card .card-img img:hover {
    -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
            transform: translateY(-5px);
}

section.ui-cards .card .card-txt {
    line-height: 2.5;
    padding: 2px 16px;
}

section.ui-cards .card .card-txt h3 {
    color: var(--sec);
    font-weight: 700;
}

section.ui-cards .card .card-txt p {
    color: var(--sec);
}

/* <--- RESPONSIVE UI CARDS --->  */
@media screen and (max-width: 1200px) {
    section.ui-cards {
        -webkit-column-gap: 4vw;
           -moz-column-gap: 4vw;
                column-gap: 4vw;
    }
}
@media screen and (max-width: 768px) {
        section.ui-cards {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        row-gap: 10vh;
    }
}