@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    font-family: 'Open Sans', Helvetica, sans-serif;
}

header {
    display: flex;
    height: 15vh;
    width: 80vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15vh;
}

header div.logo {
}

header div.logo a {
    text-decoration: none;
}

header div.logo a h1 {
    color: #401515;
    font-size: 1.2rem;
    font-weight: 600;
}

header div.logo a span {
    color: #FF5555;
    font-weight: 600;
}

header div.menu nav{
    display: flex;
    width: 400px;
    justify-content: space-between;
}

header div.menu nav a {
    color: #401515;
    font-size: .8rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;

}

header div.menu nav a:hover {
    color: #FF5555;
    font-weight: 600;
    text-transform: uppercase;
}

header div.menu nav a strong {
    color: #FF5555;
    font-weight: 600;
}

main {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: auto;
    justify-content: center;
}

/* <--- BANNER ---> */
main section.banner {
    display: flex;
    width: 80vw;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15vw;
}

main section.banner div.texto {
    width: 30vw;
}

main section.banner div.texto h1 {
    color: black;
    font-size: 4rem;
    font-weight: 800;
}

main section.banner div.texto h2 {
    color: #BF3F3F;
    font-size: 2rem;
    font-weight: 600;
}

main section.banner div.texto div.button {
    margin-top: 8%
}
main section.banner div.texto div.button button {
    background-color: white;
    color: #FF5555;
    border: 2px solid #FF5555;
    font-weight: 800;
    padding: 8px 25px 8px 25px;
}

main section.banner div.texto div.button button:hover {
    background-color: #FF5555;
    color: white;
    cursor: pointer;
}

main section.banner div.imagem {
}

main section.banner div.imagem img {
    width: 30vw;
}

/* <--- PORTFOLIO ---> */
main section.portfolio {
    display: flex;
    justify-content: space-around;
}

main section.portfolio a {
    text-decoration: none;
}

main section.portfolio a:hover {
}

main section.portfolio a div.ux {
    background-color: #FF555530;
    width: 38vw;
    height: 68vh;
}

main section.portfolio a div.front-end {
    background-color: #17B34330;
    width: 38vw;
    height: 68vh;
}

main section.portfolio a div.ux div.texto, main section.portfolio a div.front-end div.texto {
    padding: 5%;
}

main section.portfolio a div.ux div.texto:hover , main section.portfolio a div.front-end div.texto:hover {
}

main section.portfolio a div.ux div.texto h1, main section.portfolio a div.front-end div.texto h1 {
    color: black;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 2%;
}

main section.portfolio a div.ux div.texto p, main section.portfolio a div.front-end div.texto p {
    color: black;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 4%;
}

footer {
    display: flex;
    flex-direction: column;
    height: 10vh;
    align-items: center;
    margin-top: 15vh;
}